**/.DS_Store
**/*.cmake
**/Makefile*
**/CMakeCache.*
**/*.cbp
**/*.ghc
**/*.out
**/\#*.c\#
**/\#*.h\#
**/*.c~
**/*.h~

**/\#*.ss\#
**/\#*.scm\#
**/*.ss~
**/*.scm~

**/CMakeFiles
**/cmake-build-debug

**/.idea
**/Testing

**/libcwary.dylib
**/libcwary.so
